.kvadratas {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 5px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 26px;
}

.flexContainer {
    height: 500px;
    overflow: hidden;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: column-reverse wrap-reverse; */
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 10px 20px;
}

.flexPirmas {
    order: 1;
}

.flexAntras {
    order: 2;
}

.flexTrecias {
    order: 3;
}

.flexKetvirtas {
    order: 4;
}

.alignSelfEnd {
    align-self: flex-end;
}

/* Pratimai */

.pirmasPratimas {
    display: flex;
    gap: 30px;
}

.flexInFlex {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.flexInFlexInFlex {
    display: flex;
    gap: 30px;
}

.kvadratai {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.pirmasKvadratas {
    width: 330px;
    height: 230px;
}

.antrasKvadratas {
    width: 330px;
    height: 100px;
}

.treciasKvadratas {
    width: 150px;
    height: 100px;
}

.ketvirtasKvadratas {
    width: 150px;
    height: 100px;
}

/* BIG FLEX TASK */
/* Task 1 */
.bigFlexTask {
    display: flex;
    flex-wrap: warp;
    gap: 10px;
}

.bigTaskContainer {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.taskBg {
    background-image: url(../images/lake-como.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.w66 {
    width: 66%;
}

.w33 {
    width: 33%;
}

.h33 {
    height: 33%;
}

.h66 {
    height: 66%;
}

.h50 {
    height: 50%;
}

/* .uzd1{
    background-image: linear-gradient(to bottom, 
    red,
    blue,
    orange
    )
} */

/* .containerTask{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
} */

.containerTask1 {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.containerTask1NextLevel {
    display: flex;
    gap: 1px;
}

/* task 2 (trečias paveiksliukas */
.containerTask2 {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.containerTask2Level1 {
    display: flex;
    gap: 1px;
}

.containerTask2Level2 {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

/* Antra užduotis */

.antra_uzduotis {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.w100 {
    width: 100%;
}