@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

h1{
    text-align: center;
}

.paverstasTekstas{
    font-style: italic;
}

#rudasID{
    color:brown;
}
.raudonasTekstas{
    color:red;
}
.melynasTekstas{
    color:blue;
}

.padidintasTekstas{
    font-size: 20px;
}