@import 'reset.css';


.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    text-align: center;
}

.gridItem {
    /* height: 150px; */
    background-color:coral;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}