@use 'vars' as v;

body {
    font-family: 'Monserrat', sans-serif;
}

.btn {
    border: none;
    padding: 0.8em 1.5em;
    background-color: v.$primary-color;
    color: v.$primary-light-color;
    font-size: 1rem;
    border-radius: 2rem;
    border: 1px solid v.$primary-color; 
}

.btn--outline {
    //paveldi viska is .btn
        @extend .btn;
        background: transparent;
        color: v.$primary-color;
    }