@use 'reset';
@use 'common';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

// Hero ---------

.hero {
    padding-top: 6rem;
    padding-bottom: 6rem;

    .hero__text {
        margin-bottom: 2rem;
    }
    button {
        margin-bottom: 1.5rem;
    }
}

// our features

.features {
    text-align: center;
}