@use 'vars' as v;

@import 'reset';

// $primary-color: darkgreen;
// $secondary-color: tomato;
// $main-font: Verdana, Arial, sans-serif; 

/* body */

body {
    font-family: v.$main-font;

    .container {
        h1 {
            color: v.$primary-color;
            font-size: 3rem;
            font-weight: normal;
        }

        h3 {
            font-size: 2rem;
            color: v.$secondary-color;
        }
    }
}

@mixin myFlex($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    flex-direction: $direction;
}

.boxes {
    min-height: 400px;
    border: 1px solid v.$secondary-color;
    @include myFlex;

}

.box {
        width: 100px;
        height: 100px;
        background-color: tomato;
        border: 1px solid v.$primary-color;
        transition: background-color 0.5s;
    }

    // & = .box (.box:hover butu tas pats)
&:hover {
    background-color: darken(tomato, 20%);
}

    // prapleciam pries tai aprasyta stiliu
    .dezes {
        @extend .boxes;
        border-color: #333;
        min-height: 300px;
        border: solid 1px v.$primary-color;
        border-color: #333;
        @include myFlex($direction: column);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 5fr);
        gap: 20px;
        transform: translate(50%);
    }